@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600&display=swap');
.container {
  #home-page {
    width: 100%;
    min-height: 100vh;
    background-image: url("../../assets/img/i4\ 1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    nav {
      padding: 17px 121px 9px 101px;
      display: flex;
      justify-content: space-between;
      ul {
        width: 35%;
        display: flex;
        justify-content: space-between;
        li {
          a {
            color: #c9d6df;
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }

      .text {
        display: flex;
        justify-content: space-between;
        a {
          margin-right: 30%;
          color: #c9d6df;
          font-family: Montserrat;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
    hr {
      width: 1253px;
      stroke: #c9d6df;
      margin-left: 92px;
    }
  }

  #cars-page {
    width: 100%;
    padding: 121px;
    background: #52616b;
    .series-8 {
      position: relative;
      .about-car {
        position: absolute;
        top: 17px;
        left: 30px;
        h1 {
          color: #c9d6df;
          font-family: Montserrat;
          font-size: 34px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        h2 {
          color: #c9d6df;
          font-family: Montserrat;
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }

    .legend-car {
        display: flex;
        margin-top: 15px;
      .bmw-x7 {
        margin-right: 15px;
        position: relative;
        .cars {
          position: absolute;
          left: 30px;
          top: 17px;
          h1 {
            color: #c9d6df;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: Montserrat;
            font-size: 34px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          h2 {
            color: #c9d6df;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: Montserrat;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }

      .series-5 {
        position: relative;
        .series-5-cars {
            position: absolute;
            top: 17px;
            left: 100px;
          h1 {
            color: #c9d6df;
            font-family: Montserrat;
            font-size: 34px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          h2{
            color: #C9D6DF;
            text-align: center;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
          }
        }
      }
    }
  }

  #dreams-car{
    width: 100%;
    min-height: 100vh;
    padding: 17px;
    background-image: url('../../assets/img/bmw\ of\ dream\ 1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    h1{
        margin-bottom: 550px;
        color: #F0F5F9;
        text-align: center;
font-family: Montserrat;
font-size: 45px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
    }

    button{
        width: 327px;
height: 65px;
display: block;
margin: auto;
border-radius: 8px;
background: #1E2022;
a{
    color: #C9D6DF;
text-align: center;
font-family: "Open Sans";
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}
    }
  }

  #app-downloader{
    width: 100%;
    min-height: 100vh;
    padding: 17px 17px;
    background-image: url('../../assets/img/bmw-my-bmw-app-lp-cp-xxl\ 1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .download-text{
        display: flex;
        h1{
            margin-left: 20px;
            color: #C9D6DF;
font-family: Montserrat;
font-size: 34px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
        }
    }
  }

  #menu-page{
    width: 100%;
    padding: 50px 180px 150px 80px;
    background: #1E2022;
    ul{
        display: flex;
        justify-content: space-between;
        li{
            display: flex;
            flex-direction: column;
            gap: 15px;
            &:last-child{
                .logo-box{
                    display: flex;
                    align-items: center;
                    svg{
                        margin-right: 10px;
                    }
                }
            
            }
            h1{
                color: #F0F5F9;
font-family: "Open Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
            }
            h2{
                color: #C9D6DF;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
            }
            h3{
                color: #C9D6DF;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
            }
            h4{
                color: #C9D6DF;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
            }
            h5{
                color: #C9D6DF;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
            }
        }
    }
  }
}
